version: '3.6'
services: 
  sink-database:
    image: postgres:latest
    environment: 
      - DATABASE_HOST=127.0.0.1
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=db
    ports: 
      - 5434:5432

  # sink:

  # source:
